<!DOCTYPE html>
<html>
<head>
  <title>DEMO</title>
  <% $NUMBER_OF_THE_NOTIFICATIONS =0 %> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js", "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet/less" type="text/css" href="lib/twitter-bootstrap/lib/bootstrap.less">  
  <link rel="stylesheet/css" type="text/css" href="/assests/jquery.gritter.css" />  
  <link rel="stylesheet/css" type="text/css" href="/assests/jquery.jnotify.css" />  
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js" type="text/javascript"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"
        type="text/javascript"></script>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script> 
  <script type = "text/javascript" src="/assets/PusherNotifier.js"></script>
  <script type="text/javascript" src="/assets/jquery.gritter.min.js" ></script>
  <script type="text/javascript" src="/assets/jquery.jnotify.js" ></script>
  <script type="text/javascript" src="/assets/JN.js"></script>
<link rel="stylesheet/css" type="text/css" href="/assests/JNCS.css" />  

    
    


    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<a href="#" class="jnotify_exemple"><span>Click here to see the jNotify box</span></a>
<script type="text/javascript" src="/assets/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/assets/jquery.jnotify.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("a.jnotify_exemple").click(function(e){
      e.preventDefault();
      jNotify(
        'Here the message !!<br />You can write HTML code <strong>bold</strong>, <i>italic</i>, <u>underline</u>',
        {
          autoHide : true,
          clickOverlay : false,
          MinWidth : 250,
          TimeShown : 9000,
          ShowTimeEffect : 200,
          HideTimeEffect : 200,
          LongTrip : 20,
          HorizontalPosition : 'right',
          VerticalPosition : 'top',
          ShowOverlay : true,
          ColorOverlay : '#000',
          OpacityOverlay : 0.3,
          onClosed : function(){},
          onCompleted : function(){}
        }
      );
    });
  });
</script>


  <script> 
  jQuery(document).ready(function() {

    var pusher = new Pusher('af30f81da233dd0925b2', {encrypted: true});
    var channel = pusher.subscribe('my_notifications');  
    channel.bind('my_event',function(data){ 
       jNotify(
        data.message ,
        {
          autoHide : true,
          clickOverlay : false,
          MinWidth : 250,
          TimeShown : 7000,
          ShowTimeEffect : 200,
          HideTimeEffect : 200,
          LongTrip : 20,
          HorizontalPosition : 'right',
          VerticalPosition : 'top',
          ShowOverlay : true,
          ColorOverlay : '#000',
          OpacityOverlay : 0.3,
          onClosed : function(){},
          onCompleted : function(){}
        }
      );
    });
    });

    </script>

</head>

<body>
<div id="Notification"></div>
<%= yield %>
</script>

  <!-- ANALYTICS -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9271946-9']);
    _gaq.push(['_setDomainName', 'myjqueryplugins.com']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
